.c-tabs-unir
    button#defaultOpen.tablinks(onclick="openContent(event, 'metodologia')") Metodología Unir
    button.tablinks(onclick="openContent(event, 'clases')") 01. clases en vivo
    button.tablinks(onclick="openContent(event, 'tutor')") 02. Tutor personal
    button.tablinks(onclick="openContent(event, 'recursos')") 03. recursos
#metodologia.tabslot
    include ../tabslot__content--methodology/tabslot__content--methodology.pug
#clases.tabslot
    include ../tabslot__content--classes/tabslot__content--classes.pug
#tutor.tabslot
    include ../tabslot__content--tutor/tabslot__content--tutor.pug
#recursos.tabslot
    include ../tabslot__content--resources/tabslot__content--resources.pug