.tabslot__content--classes
    .tab-copy
        h1 Cómo se estudia en Unir
        p Descubre un modelo pedagógico innovador de gran éxito en Europa: clases en línea en vivo, tutor personal, evaluación flexible y recursos formativos a tu alcance 24/7.
        include ../c-link/c-link.pug
    .tab-media
        figure.desktop
            video(src='video/video_metodologia.mp4' width='602' height='563' poster='img/poster-metodologia.jpg')
                | Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.
        figure.mobile
            video(src='video/video_metodologia-768px.mp4' width='301' height='563' poster='img/poster-metodologia-768px.jpg')
                | Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.