.tabslot__content--methodology {
  height: auto;
  min-height: 300px;
  box-sizing: border-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  .tab-copy {
    padding: 90px 90px 0 90px;
    h1 {
      font-family: 'Unit OT', sans-serif;
      font-size: 40px;
      line-height: 46px;      
      color: var(--titles-bg);
      margin: 60px 0 30px 0;
    }
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 26px;      
      color: var(--texts-bg);
      margin-bottom: 26px;
    }    
  }
  .tab-media {
    display: contents;
    overflow: hidden;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .tabslot__content--methodology {
    .tab-copy {
      padding: 90px 34px 0 34px;
      width: 57%;   
    }
    .tab-media {
      display: unset;
      width: 43%;
      img {
        position: relative;
        top: 3px;
      }
    }
  }
}

