.tabslot__content--methodology
    .tab-copy
        h1 Cómo se estudia en Unir
        p Descubre un modelo pedagógico innovador de gran éxito en Europa: clases en línea en vivo, tutor personal, evaluación flexible y recursos formativos a tu alcance 24/7.
        include ../c-link/c-link.pug
    .tab-media
        img(src='img/metodologia.jpg' alt='')
