.tabslot__content--tutor
    .tab-copy
        h1 Cómo se estudia en Unir
        p Descubre un modelo pedagógico innovador de gran éxito en Europa: clases en línea en vivo, tutor personal, evaluación flexible y recursos formativos a tu alcance 24/7.
        include ../c-link/c-link.pug
    .tab-testimonial
        .tab-testimonial__container
            div
                figure
                    i.unir-icon-quotes
                    img(src='img/tutor-personal.jpg' alt='')
                    blockquote
                        | Hubo un momento en el que quise tirar la toalla. Si en ese momento no tengo a nadie que me apoye, yo lo dejo. Pero gracias a mi tutora concluí mis estudios.
                footer.pepe
                    cite.author Marta riego
                    | , 
                    cite.company alumna de UNIR