.tabslot__content--resources
    .tab-copy
        h1 Cómo se estudia en Unir
        p Descubre un modelo pedagógico innovador de gran éxito en Europa: clases en línea en vivo, tutor personal, evaluación flexible y recursos formativos a tu alcance 24/7.
        include ../c-link/c-link.pug
    .tab-map_desktop
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.1922745685897!2d-3.7169429843320496!3d40.448881161606884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42284dc4f7fa87%3A0xf170efb0da037136!2sCalle%20de%20Almansa%2C%20101%2C%2028040%20Madrid!5e0!3m2!1ses!2ses!4v1612138130111!5m2!1ses!2ses' width='602' height='563' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')
    .tab-map_mobile
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.1922745685897!2d-3.7169429843320496!3d40.448881161606884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42284dc4f7fa87%3A0xf170efb0da037136!2sCalle%20de%20Almansa%2C%20101%2C%2028040%20Madrid!5e0!3m2!1ses!2ses!4v1612138130111!5m2!1ses!2ses' width='301' height='563' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')