doctype html
html(lang='en')
  head
    include components/head-content/head-content.pug
  body
    section.app__container.desktop
      include components/c-tabs-unir/c-tabs-unir.pug
    section.app__container.mobile
      include components/c-dropdown/c-dropdown.pug      
    script.
        function openContent(evt, elementName) {
        var i, tabslot, tablinks;
        tabslot = document.getElementsByClassName("tabslot");
        for (i = 0; i < tabslot.length; i++) {
        tabslot[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(elementName).style.display = "block";
        evt.currentTarget.className += " active";
        }
    script.
        document.getElementById("defaultOpen").click();
    script.
        function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
        }
        window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
        var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
        }
        }
        }    