.c-dropdown
    .navbar
        .dropdown
            button.dropbtn(onclick='myFunction()')
                | Dropdown
                i.fa.fa-caret-down
            #myDropdown.dropdown-content
                a(href='#') Link 1
                a(href='#') Link 2
                a(href='#') Link 3
                a(href='#') Link 3