.c-dropdown
    .navbar
        .dropdown
            button.dropbtn(onclick='myFunction()')
                span Metodología
                i.unir-icon-angle-down
            #myDropdown.dropdown-content
                a.element-active(href='#') Metodología
                a(href='#') 01. Clases en vivo
                a(href='#') 02. Tutor profesional
                a(href='#') 03. Recursos didácticos