.c-dropdown {
  width: 280px;
  height: 60px;
  .navbar {
    overflow: hidden;
    font-family: 'Open Sans Bold', sans-serif;
    background-color: var(--titles-bg);
      button {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        align-items: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        .unir-icon-angle-down {
          color: var(--primary);
          font-size: 12px;
          font-weight: bold;
        }
      }
      a {
        float: left;
        font-size: 12px;
        line-height: 18px;
        color: var(--texts);
        text-decoration: none; 
        text-transform: uppercase;
        &.element-active {
          color: var(--primary)
        }   
      }
    }
  .dropdown {
    float: left;
    overflow: hidden;
    .dropbtn {
      cursor: pointer;
      border: none;
      outline: none;
      color: var(--texts);
      padding: 20px 18px;
      font-family: inherit;
      text-transform: uppercase;
      text-align: left;
      font-size: 12px;
      line-height: 18px;
      margin: 0;
      width: 280px;
      height: 60px;
    }
  }
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: var(--titles-bg);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light-grey);
    width: 280px;
    z-index: 1;
    a {
      float: none;
      color: black;
      padding: 20px 18px;
      text-decoration: none;
      display: block;
      text-align: left;
      height: 60px;
      box-sizing: border-box;
    }
  }
  .show {
    display: block;
  }
}