/* Tabs structure styles */

@charset "UTF-8";
html {
  body {
    .app__container {
      margin: 0 auto;
      width: 1263px;      
      &.mobile {
        display: none;
      }
    }
  }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    body {
      .app__container {
        margin: 0 auto;
        width: 100%;
        &.mobile {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    body {
      .app__container {
        margin: 0 auto;
        width: 100%;
        &.mobile {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 767px) {
  html {
    body {
      .app__container {
        &.desktop {
          display: none;
        }
      }
      .app__container {
        width: 100%;
        box-sizing: border-box;
        .dropdown-container {
          display: flex;
          display: -ms-flexbox;
          display: -webkit-flex;
          justify-content: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          margin-bottom: 48px;
        }
        &.mobile {
          display: block;
          background-color: var(--secondary);
          padding: 20px;
        }
      }      
    }
  }
}

