$icomoon-font-family: "unir-icons" !default;
$icomoon-font-path: "fonts" !default;

$unir-icon-screen: "\e800";
$unir-icon-user: "\e801";
$unir-icon-diploma: "\e802";
$unir-icon-document: "\e803";
$unir-icon-faqs: "\e804";
$unir-icon-europe: "\e805";
$unir-icon-badge: "\e806";
$unir-icon-shadowing: "\e807";
$unir-icon-comment: "\e808";
$unir-icon-certificate: "\e809";
$unir-icon-professor: "\e80a";
$unir-icon-trophy: "\e80b";
$unir-icon-percentage: "\e80c";
$unir-icon-mentor: "\e80d";
$unir-icon-compass: "\e80e";
$unir-icon-suitcase: "\e80f";
$unir-icon-graduation-cap: "\e810";
$unir-icon-quotes: "\e811";
$unir-icon-globe: "\e812";
$unir-icon-alerts: "\e813";
$unir-icon-flow: "\e814";
$unir-icon-proeduca: "\e815";
$unir-icon-world: "\e816";
$unir-icon-mx: "\e817";
$unir-icon-map-marker: "\e818";
$unir-icon-schedule: "\e819";
$unir-icon-chart: "\e81a";
$unir-icon-gear: "\e81b";
$unir-icon-ects: "\e81c";
$unir-icon-network: "\e81d";
$unir-icon-bulb: "\e81e";
$unir-icon-play-square: "\e81f";
$unir-icon-conferences: "\e820";
$unir-icon-ranking: "\e821";
$unir-icon-dot-solid: "\e822";
$unir-icon-check: "\e823";
$unir-icon-map-marker-rounded: "\e824";
$unir-icon-dot: "\e825";
$unir-icon-google-plus: "\e826";
$unir-icon-map-marker-solid: "\e827";
$unir-icon-skype: "\e828";
$unir-icon-youtube: "\e829";
$unir-icon-linkedin: "\e82a";
$unir-icon-instagram: "\e82b";
$unir-icon-twitter: "\e82c";
$unir-icon-play: "\e82d";
$unir-icon-facebook: "\e82e";
$unir-icon-external: "\e82f";
$unir-icon-close: "\e830";
$unir-icon-search: "\e831";
$unir-icon-mail: "\e832";
$unir-icon-whatsapp: "\e833";
$unir-icon-form: "\e834";
$unir-icon-user-solid: "\e835";
$unir-icon-phone: "\e836";
$unir-icon-angle-right: "\e837";
$unir-icon-angle-left: "\e838";
$unir-icon-angle-up: "\e839";
$unir-icon-angle-down: "\e83a";
$unir-icon-download: "\e83b";
$unir-icon-bar-chart: "\e83e";
$unir-icon-suitcase-solid: "\e83f";
$unir-icon-user-female-solid: "\e840";
$unir-icon-calendar: "\e841";
$unir-icon-list: "\e844";
$unir-icon-more: "\e845";
$unir-icon-less: "\e846";
$unir-icon-tag: "\e847";

