@charset "UTF-8";
/* Imports web components styles */
@font-face {
  font-family: "unir-icons";
  src: url("../fonts/unir-icons.eot?wpld1q");
  src: url("../fonts/unir-icons.eot?wpld1q#iefix") format("embedded-opentype"), url("../fonts/unir-icons.ttf?wpld1q") format("truetype"), url("../fonts/unir-icons.woff?wpld1q") format("woff"), url("../fonts/unir-icons.svg?wpld1q#unir-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=unir-icon-], [class*=" unir-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "unir-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.unir-icon-screen:before {
  content: "";
}

.unir-icon-user:before {
  content: "";
}

.unir-icon-diploma:before {
  content: "";
}

.unir-icon-document:before {
  content: "";
}

.unir-icon-faqs:before {
  content: "";
}

.unir-icon-europe:before {
  content: "";
}

.unir-icon-badge:before {
  content: "";
}

.unir-icon-shadowing:before {
  content: "";
}

.unir-icon-comment:before {
  content: "";
}

.unir-icon-certificate:before {
  content: "";
}

.unir-icon-professor:before {
  content: "";
}

.unir-icon-trophy:before {
  content: "";
}

.unir-icon-percentage:before {
  content: "";
}

.unir-icon-mentor:before {
  content: "";
}

.unir-icon-compass:before {
  content: "";
}

.unir-icon-suitcase:before {
  content: "";
}

.unir-icon-graduation-cap:before {
  content: "";
}

.unir-icon-quotes:before {
  content: "";
}

.unir-icon-globe:before {
  content: "";
}

.unir-icon-alerts:before {
  content: "";
}

.unir-icon-flow:before {
  content: "";
}

.unir-icon-proeduca:before {
  content: "";
}

.unir-icon-world:before {
  content: "";
}

.unir-icon-mx:before {
  content: "";
}

.unir-icon-map-marker:before {
  content: "";
}

.unir-icon-schedule:before {
  content: "";
}

.unir-icon-chart:before {
  content: "";
}

.unir-icon-gear:before {
  content: "";
}

.unir-icon-ects:before {
  content: "";
}

.unir-icon-network:before {
  content: "";
}

.unir-icon-bulb:before {
  content: "";
}

.unir-icon-play-square:before {
  content: "";
}

.unir-icon-conferences:before {
  content: "";
}

.unir-icon-ranking:before {
  content: "";
}

.unir-icon-dot-solid:before {
  content: "";
}

.unir-icon-check:before {
  content: "";
}

.unir-icon-map-marker-rounded:before {
  content: "";
}

.unir-icon-dot:before {
  content: "";
}

.unir-icon-google-plus:before {
  content: "";
}

.unir-icon-map-marker-solid:before {
  content: "";
}

.unir-icon-skype:before {
  content: "";
}

.unir-icon-youtube:before {
  content: "";
}

.unir-icon-linkedin:before {
  content: "";
}

.unir-icon-instagram:before {
  content: "";
}

.unir-icon-twitter:before {
  content: "";
}

.unir-icon-play:before {
  content: "";
}

.unir-icon-facebook:before {
  content: "";
}

.unir-icon-external:before {
  content: "";
}

.unir-icon-close:before {
  content: "";
}

.unir-icon-search:before {
  content: "";
}

.unir-icon-mail:before {
  content: "";
}

.unir-icon-whatsapp:before {
  content: "";
}

.unir-icon-form:before {
  content: "";
}

.unir-icon-user-solid:before {
  content: "";
}

.unir-icon-phone:before {
  content: "";
}

.unir-icon-angle-right:before {
  content: "";
}

.unir-icon-angle-left:before {
  content: "";
}

.unir-icon-angle-up:before {
  content: "";
}

.unir-icon-angle-down:before {
  content: "";
}

.unir-icon-download:before {
  content: "";
}

.unir-icon-bar-chart:before {
  content: "";
}

.unir-icon-suitcase-solid:before {
  content: "";
}

.unir-icon-user-female-solid:before {
  content: "";
}

.unir-icon-calendar:before {
  content: "";
}

.unir-icon-list:before {
  content: "";
}

.unir-icon-more:before {
  content: "";
}

.unir-icon-less:before {
  content: "";
}

.unir-icon-tag:before {
  content: "";
}

.c-tabs-unir {
  overflow: hidden;
  height: 60px;
  background-color: var(--primary);
  display: flex;
}
.c-tabs-unir button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  height: 60px;
  width: 320px;
  transition: 0.3s;
  font-size: 11px;
  line-height: 18px;
  font-family: "Open Sans Bold", sans-serif;
  color: var(--titles-bg);
  text-transform: uppercase;
}
.c-tabs-unir button:hover {
  opacity: 0.5;
}
.c-tabs-unir button.active {
  background-color: var(--secondary);
}
.c-tabs-unir button.active:hover {
  opacity: 1;
}

.tabslot {
  display: none;
  padding: 40px 0 0 0;
  background-color: var(--secondary);
  border-top: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .c-tabs-unir button {
    width: 100%;
  }
  .c-tabs-unir button.active {
    background-color: var(--secondary);
  }

  .tabslot {
    display: none;
  }
}
.tabslot__content--methodology {
  height: auto;
  min-height: 300px;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
}
.tabslot__content--methodology .tab-copy {
  padding: 90px 90px 0 90px;
}
.tabslot__content--methodology .tab-copy h1 {
  font-family: "Unit OT", sans-serif;
  font-size: 40px;
  line-height: 46px;
  color: var(--titles-bg);
  margin: 60px 0 30px 0;
}
.tabslot__content--methodology .tab-copy p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: var(--texts-bg);
  margin-bottom: 26px;
}
.tabslot__content--methodology .tab-media {
  display: contents;
  overflow: hidden;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .tabslot__content--methodology .tab-copy {
    padding: 90px 34px 0 34px;
    width: 57%;
  }
  .tabslot__content--methodology .tab-media {
    display: unset;
    width: 43%;
  }
  .tabslot__content--methodology .tab-media img {
    position: relative;
    top: 3px;
  }
}
.tabslot__content--classes {
  height: auto;
  min-height: 300px;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
}
.tabslot__content--classes .tab-copy {
  padding: 90px 90px 0 90px;
}
.tabslot__content--classes .tab-copy h1 {
  font-family: "Unit OT", sans-serif;
  font-size: 40px;
  line-height: 46px;
  color: var(--titles-bg);
  margin: 60px 0 30px 0;
}
.tabslot__content--classes .tab-copy p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: var(--texts-bg);
  margin-bottom: 26px;
}
.tabslot__content--classes .tab-media {
  display: contents;
  overflow: hidden;
}
.tabslot__content--classes .tab-media figure.desktop {
  display: block;
}
.tabslot__content--classes .tab-media figure.mobile {
  display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .tabslot__content--classes .tab-copy {
    padding: 90px 34px 0 34px;
    width: 57%;
  }
  .tabslot__content--classes .tab-media {
    display: unset;
    width: 43%;
  }
  .tabslot__content--classes .tab-media figure {
    position: relative;
    top: 3px;
  }
  .tabslot__content--classes .tab-media figure.desktop {
    display: none;
  }
  .tabslot__content--classes .tab-media figure.mobile {
    display: block;
  }
}
.tabslot__content--tutor {
  height: auto;
  min-height: 300px;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
}
.tabslot__content--tutor .tab-copy {
  padding: 90px 90px 0 90px;
}
.tabslot__content--tutor .tab-copy h1 {
  font-family: "Unit OT", sans-serif;
  font-size: 40px;
  line-height: 46px;
  color: var(--titles-bg);
  margin: 60px 0 30px 0;
}
.tabslot__content--tutor .tab-copy p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: var(--texts-bg);
  margin-bottom: 26px;
}
.tabslot__content--tutor .tab-testimonial {
  background-color: var(--titles-bg);
}
.tabslot__content--tutor .tab-testimonial .tab-testimonial__container {
  width: 602px;
  height: 563px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.tabslot__content--tutor .tab-testimonial .tab-testimonial__container > div {
  width: 430px;
  height: auto;
}
.tabslot__content--tutor .tab-testimonial .tab-testimonial__container > div figure {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.tabslot__content--tutor .tab-testimonial .tab-testimonial__container > div figure .unir-icon-quotes {
  color: var(--primary);
  font-size: 22px;
  z-index: 1;
}
.tabslot__content--tutor .tab-testimonial .tab-testimonial__container > div figure img {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  position: relative;
  top: -18px;
  margin-bottom: 30px;
}
.tabslot__content--tutor .tab-testimonial .tab-testimonial__container > div figure blockquote {
  font-family: "Unit OT", sans-serif;
  font-size: 24px;
  line-height: 31px;
  color: var(--titles);
  margin-bottom: 20px;
}
.tabslot__content--tutor .tab-testimonial .tab-testimonial__container > div footer {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--texts);
  cursor: pointer;
  outline: none;
}
.tabslot__content--tutor .tab-testimonial .tab-testimonial__container > div footer .unir-icon-play {
  color: var(--primary);
  font-size: 14px;
  margin-right: 14px;
}

/* ELLIPSIS MULTILINEA */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .tabslot__content--tutor .tab-copy {
    padding: 90px 34px 0 34px;
    width: 57%;
  }
  .tabslot__content--tutor .tab-testimonial {
    display: unset;
    width: 43%;
  }
  .tabslot__content--tutor .tab-testimonial .tab-testimonial__container {
    width: 300px;
  }
  .tabslot__content--tutor .tab-testimonial .tab-testimonial__container > div {
    width: 210px;
  }
  .tabslot__content--tutor .tab-testimonial .tab-testimonial__container > div figure blockquote {
    font-size: 26px;
    line-height: 26px;
    display: block;
    display: -webkit-box;
    font-size: 20px;
    line-height: 1.4;
    max-height: 168px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
  .tabslot__content--tutor .tab-testimonial .tab-testimonial__container > div figure blockquote blockquote:not(:first-of-type) {
    display: none;
  }
}
.tabslot__content--resources {
  height: auto;
  min-height: 300px;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
}
.tabslot__content--resources .tab-copy {
  padding: 90px 90px 0 90px;
}
.tabslot__content--resources .tab-copy h1 {
  font-family: "Unit OT", sans-serif;
  font-size: 40px;
  line-height: 46px;
  color: var(--titles-bg);
  margin: 60px 0 30px 0;
}
.tabslot__content--resources .tab-copy p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: var(--texts-bg);
  margin-bottom: 26px;
}
.tabslot__content--resources .tab-map_desktop {
  display: flex;
}
.tabslot__content--resources .tab-map_mobile {
  display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .tabslot__content--resources .tab-copy {
    padding: 90px 34px 0 34px;
    width: 57%;
  }
  .tabslot__content--resources .tab-map_desktop {
    display: none;
  }
  .tabslot__content--resources .tab-map_mobile {
    display: block;
  }
}
/* C-LINK COMPONENT */
.c-link {
  height: 24px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  cursor: pointer;
  outline: none;
  color: var(--titles-bg);
}
.c-link label {
  font-family: "Open Sans Bold", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 8px;
}
.c-link .unir-icon-angle-right {
  font-size: 9px;
}

/* END C-LINK COMPONENT */
.c-dropdown .navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.c-dropdown .navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.c-dropdown .dropdown {
  float: left;
  overflow: hidden;
}
.c-dropdown .dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 160px;
}
.c-dropdown .navbar a:hover, .c-dropdown .dropdown:hover .dropbtn, .c-dropdown .dropbtn:focus {
  background-color: red;
}
.c-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.c-dropdown .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.c-dropdown .dropdown-content a:hover {
  background-color: #ddd;
}
.c-dropdown .show {
  display: block;
}