/* Tabs structure styles */
html body .app__container {
  margin: 0 auto;
  width: 1263px;
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
  html body .app__container {
    margin: 0 auto;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  html body .app__container {
    margin: 0 auto;
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  html body .app__container {
    margin: 0 auto;
    width: 100%;
  }
}